---
// src/pages/index.astro
import Layout from "../components/Layout.astro";
import "../styles/styles.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>corregi.me</title>
  </head>
  <body>
    <Layout />
    <script>
      import "../scripts/scripts";
    </script>
  </body>
</html>
