---
import { Image } from "astro:assets";
import sparkLogo from "../assets/sparkLogo.png";
---

<!-- Footer Component -->
<div class="mt-8 mb-8 md:mb-0 text-center">
  <p class="text-xs text-gray-200">Powered by</p>
  <a
    href="https://sparkagencia.com.uy/"
    target="_blank"
    rel="noopener noreferrer"
    class="inline-block"
    aria-label="Visit Spark Agency website"
  >
    <Image
      src={sparkLogo}
      alt="Powered by Spark"
      width={240}
      height={80}
      format="png"
      loading="eager"
      class="w-[80px] md:w-[100px] opacity-80 hover:scale-105 hover:opacity-100 transition-all duration-300"
    />
  </a>
</div>
