---
import "../styles/global.css";
import Header from "./Header.astro";
import CorrectionForm from "./CorrectionForm.astro";
import Footer from "./Footer.astro";
---

<div class="text-white p-6 min-h-[95vh] flex flex-col justify-between">
  <Header />
  <CorrectionForm />
  <Footer />
</div>

<style>
  /* Estilos eliminados ya que no son necesarios */
</style>
